@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Cores:
Verde: #5CA720<br>
Preto: #161616<br>
Cinza (linhas divisórias): #A5A1A1<br>
Cinza (background do footer): #F9F9F9 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    border: none;
}

