@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Cores:
Verde: #5CA720<br>
Preto: #161616<br>
Cinza (linhas divisórias): #A5A1A1<br>
Cinza (background do footer): #F9F9F9 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    border: none;
}

.rodape {
    width: 95%;
}

.box1 {
    padding: 45px;
    font-size: 21px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F9F9F9;
    border-top: 1px solid #b6b5b5;
    margin-top: 15px;
}

.box1 ul {
    list-style: none;
    line-height: 35px;
}

.btns {
    margin-top: 15px;
}

.btnEmail {
    width: 425px;
    height: 55px;
    font-size: 21px;
    background-color: white;
    border: 1px solid #b6b5b5;
    border-radius: 5px 0px 0px 5px;
    color: #cecece;
    text-align: left;
}

.btnInscrever {
    height: 55px;
    font-size: 21px;
    background-color: #5CA720;
    width: 135px;
    border-radius: 0px 5px 5px 0px;

}

.box2 {
    padding: 45px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: #F9F9F9;
    border-top: 1px solid #b6b5b5;
}

.box2 div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

