* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family:  Arial;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topo {
    display: flex;
    flex-direction: row;
    gap: 600px;
    padding-top: 15px;
}

.navegadores {
    font-size: 20px;
    letter-spacing: 1.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;

}

.btnLogin {
    font-size: 20px;
    color: white;
    letter-spacing: 1.5px;
    width: 180px;
    height: 55px;
    background-color: #D6000D;
    border-radius: 15px;
    ;
}

.btnLogin:hover {
    background-color: #ffffff;
    color: #D6000D; 
    box-shadow: inset 0 0 0 4px #D6000D;
}

.section1 {
    padding-top: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 120px;
}

.txtsec1 {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.txt1 {
    font-size: 30px;
}

.txt2 {
    font-size: 72px;
    color: #D6000D;
}

.btn1 {
    font-size: 25px;
    color: white;
    letter-spacing: 1.5px;
    width: 400px;
    height: 55px;
    background-color: #D6000D;
    border-radius: 15px;
    margin-top: 40px;
}

.btn1:hover {
    background-color: #700007;
}

.list {    
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-top: 70px;
}

.list1 {
    list-style: none;
    margin-top: 10px;
    line-height: 70px;
}

.list2 {
    list-style: none;
    padding-left: 30px;
    line-height: 70px;
}

.btnCelular {
    font-size: 15px;
    color: rgb(117, 117, 117);
    letter-spacing: 1.5px;
    width: 270px;
    height: 55px;
    background-color: #d6d6d6;
    border-radius: 15px;
    margin-top: 15px;
}

.btnLigamos {
    font-size: 15px;
    color: white;
    letter-spacing: 1.5px;
    width: 270px;
    height: 55px;
    background-color: #D6000D;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 5px;
}

.btnLigamos:hover {
    background-color: #700007;
}

.section2 {
    padding-top: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section2final {
    padding-top: 85px;
}

.section3 {
    display: flex;
    flex-direction: row;
    gap:  50px;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 200px;
    width: 600px;
    height: 150px;
    border-radius: 15px;
    background:rgb(202, 202, 202);
    letter-spacing: 1.5px;
}

.circulo {
    margin-top: 25px;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background: red;
}

.txt3 {
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}






















.rodape {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 97%;
    height: 400px;
    align-items:baseline;
    padding-top: 120px;
    margin-top: 100px;
}

.titFooterCod {
    font-size: 70px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.titFooter {
    font-size: 35px;
}

.txtFooter {
    font-size: 20px;
    letter-spacing: 1.5px;
}

.gapFooter {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

